@model List<SushiWebsite.Models.CartItem>

@{
    ViewData["Title"] = "Bestellbestätigung";
}

<h1>Bestellbestätigung</h1>
<p>@ViewBag.Message</p>

<p><strong>Wichtige Hinweise:</strong></p>
<ul>
    <li>Bitte kommen Sie pünktlich zur vereinbarten Zeit, um Ihre Bestellung abzuholen.</li>
    <li>Wir werden Sie in Kürze anrufen, um Ihre Bestellung zu bestätigen.</li>
</ul>

<a href="@Url.Action("Index", "Menu")" class="btn btn-primary">Zur Speisekarte</a>
